[*.{cs,vb}]

# IDE0044: Добавить модификатор только для чтения
dotnet_style_readonly_field = false

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Рассмотрите возможность добавления модификатора "required" или объявления значения, допускающего значение NULL.
dotnet_diagnostic.CS8618.severity = none
